<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.thumbtack.school.database.mybatis.mappers.SchoolMapper">

    <resultMap id="resultSchool" type="net.thumbtack.school.database.model.School">
        <id property="id" column="school_id" />
        <result property="name" column="school_name" />
        <result property="year" column="school_year" />
        <collection property="groups" column="id" javaType="java.util.List"
                    ofType="net.thumbtack.school.database.model.Group">
            <result property="id" column="group_id" />
            <result property="name" column="group_name" />
            <result property="room" column="group_room" />
            <collection property="trainees" column="id" javaType="java.util.List"
                        ofType="net.thumbtack.school.database.model.Trainee">
                <result property="id" column="trainee_id"/>
                <result property="firstName" column="firstName"/>
                <result property="lastName" column="lastName"/>
                <result property="rating" column="rating"/>
            </collection>
            <collection property="subjects" column="id" javaType="java.util.List"
                        ofType="net.thumbtack.school.database.model.Subject">
                <result property="id" column="subject_id"/>
                <result property="name" column="subject_name"/>
            </collection>
        </collection>
    </resultMap>

    <select id="getAllUsingJoin" resultMap="resultSchool">
        SELECT s.id AS school_id, s.name AS school_name, s.year AS school_year,
        g.id AS group_id, g.name AS group_name, g.room AS group_room,
        t.id AS trainee_id, firstName, lastName, rating,
        sb.id AS subject_id, sb.name AS subject_name FROM school s
        LEFT JOIN groups g ON g.school_id = s.id
        LEFT JOIN trainee t ON t.group_id = g.id
        LEFT JOIN subject_group sg ON sg.group_id = g.id
        LEFT JOIN subject sb ON sb.id = sg.subject_id
    </select>
</mapper>
